# {{ ansible_managed }}

path.data: {{ logstash_path_data }}
path.config: {{ logstash_path_config }}
log.level: {{ logstash_log_level }}
path.logs: {{ logstash_path_logs }}

{{ logstash_extra_config | to_nice_yaml(indent=2) }}
